<launch>
    <arg name="tcp_address" default="192.168.2.1" />

    <!--  start tcp client node  -->
    <node name="tcp_client" pkg="splash_drone" type="tcp_client" args="$(arg tcp_address)" output="screen" />

    <!--  start ublox gps receiver node  -->
    <include file="$(find ublox_gps)/launch/ublox_device.launch" >
        <arg name="param_file_name" value="zed_f9p"/>
    </include>

    <!-- start follow me node -->
    <node pkg="splash_drone" type="follow_me.py" name="follow_me_node" output="screen"/>

    <!-- start rosbag record node -->
    <node pkg="rosbag" type="record" name="bag_record" output="screen" args="-a" />
    
</launch>